@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root{
	
	--bg: #111;
	--bglight: #161616;
	--main: #fff;
	--mainlight: #bbb;
	--accent: #ffd700;
	--accentalpha: #ccc600bb;
	--lightcolor: #eee;
}

*{

}


::-webkit-scrollbar {
  width: 15px;
}
::-webkit-scrollbar-track {
  background: var(--bg);
}
::-webkit-scrollbar-thumb {
	background: var(--accent);
	border: 4px solid var(--bg);
	border-radius: 10px;
}
@keyframes rotating
{
	0%
	{
		transform: translateX( 200vw );
	}
	10%
	{
		transform: translateX( 200vw );
	}
	20%
	{
		transform: translateX( 200vw );
	}
	30%
	{
		transform: translateX( 100vw );
	}
	40%
	{
		transform: translateX( 100vw );
	}
	
	50%
	{
		transform: translateX( 0px );
	}
	
	60%
	{
		transform: translateX( 0px );
	}
	70%
	{
		transform: translateX( -100vw );
	}
	80%
	{
		transform: translateX( -100vw );
	}
	90%
	{
		transform: translateX( -200vw );
	}
	100%
	{
		transform: translateX( -2100vw );
	}
}

@keyframes fade 
{
	0%
	{
		opacity: 0;
	}
	100%
	{
		opacity: 1;
	}
}
@keyframes displayfadein
{
	0%
	{
		transform: translateY( 10px );
		display: none;
	}
	1%{
		opacity: 0;
		display: flex;
	}
	100%
	{
		transform: translateY( 0px );
		opacity: 1;
		display: flex;
		transform: scaleY(1);
	}
}
@keyframes displayfadeout
{
	0%
	{
		opacity: 1;
		display: block;
	}
	99%{
		opacity: 0;
		display: block;
	}
	100%
	{
		opacity: 0;
		display: none;
	}
}

@keyframes bobside
{
	0%{
		transform: translateX(-5px);
	}
	50%{
		transform: translateX(5px);
	}
	100%
	{
		transform: translateX(-5px)
	}
}

body,html{
	scroll-behavior: smooth;
	padding: 0;
	margin: 0;
	overflow-x: hidden;
	background-color: var(--bg);
	position: relative;
}

body
{
	opacity: 0;
	transition 1s;
}
.main
{
	transition: 0.5s;
}
.open .main
{
	filter: blur(10px) brightness(50%);
/*	opacity: 0.5;*/
}
#sourcesmenu
{
	--margin: 10vw;
	width: calc( 100vw - var(--margin) );
	height: calc( 100vh - var(--margin) );
	position: fixed;
	top: calc( var(--margin)/2 );
	left: calc( var(--margin)/2 + 0.25vw - 10px);
	background-color: var(--bg);
	opacity: 0.99;
	display: flex;
	justify-content: center;
	align-items: center;
	z-index: -1;
	transition: 0.5s;
	opacity: 0;
}

.open #sourcesmenu 
{
	z-index: 10;
	opacity: 1;
}
#sourcesmenu div
{
	width: 80vw;
	height: calc( 90vh - var(--margin) );
	margin-top: 2vw;
}
#sourcesmenu h1
{
	color: var(--main);
	font-weight: 300;
	margin: 0;
}
#sourcesmenu p
{
	color: var(--main);
	font-weight: 100;
	padding-bottom: 0px;
	word-break: break-all;
}
#sourcesmenu a
{
	color: var(--accent);
}
#sourcesmenu hr
{
	margin: 35px 0px;
}

#sourcesmenu span
{
	font-family: 'Times New Roman';
	content: '\00D7';
	position: absolute;
	top: 5px;
	margin: 0;
	padding: 0;
	right: 20px;
	font-size: 40px;	
	font-size: 100;
	color: var(--main);
}
#sourcesmenu span:hover
{
	cursor: pointer;
}

h1, h2, h3, p, li, a, div
{
	font-family: 'Barlow';
	color: var(--main);
}

.nav
{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 60px;
	background-color: transparent;
	display: flex;
	justify-content: center;
	align-items: center;
	z-index: 20;
}
.nav > div
{
	width: 100%;
	padding: 0px 2vw;
	position: relative;
}
.nav h2
{	
	display: inline-block;
	font-weight: 100;
	font-size: 15px;
	color: var(--main);
	float: right;
	padding-bottom: 5px;
	padding-left: 10px;
	padding-right: 10px;
}
.nav input{
	padding-right: 10px;
	display: inline-block;
}
.nav input:checked{
	background-color: #000;;
	background-image: none;
}
.nav a{
	text-decoration: none;
}
.nav a:hover {
	opacity: 0.6;
}

#menubtn
{
	display: inline-block;
	margin-right: 20px;
	font-size: 20px;
	transition: 0.1s;
}
#toggler
{
	user-select: none;
	
	border-radius: 5px;
	transition: 0.1s;
}
#toggler:hover
{
	background-color: #0004;
	cursor: pointer;
}
#toggler.toggled
{
	background-color: #0006;
	border-bottom-left-radius: 0px;
	border-bottom-right-radius: 0px;
}
#toggler.toggled #menubtn
{
	transform: scaleX(-1) scaleY(-1) translateY(-5px);
}

#menu
{
/*	transform: scaleY(0.95);*/
	transform-origin: 0 0;	
	display: none;
	flex-direction: column;
	opacity: 0;
	position: absolute;
	top: 42px;
	background-color: #0006;
	padding: 0px 0px;
	border-top-right-radius: 5px;
	border-bottom-right-radius: 5px;
	border-bottom-left-radius: 5px;
}
.toggled + #menu
{
	display: flex;
	animation: displayfadein 0.5s both;
}
#menu a
{
	display: inline-block;
	transition: 0.2s;
	font-weight: 100;
	padding: 7px 15px;
	padding-bottom: 9px;
	list-style: none;
	opacity: 0;
	
}

#menu a:first-child
{
	border-top-right-radius: 5px;
}
#menu a:last-child
{
	border-top: 1px solid #fff3;
	border-bottom-right-radius: 5px;
	border-bottom-left-radius: 5px;
	padding-bottom: 10px;
}

#menu a:hover
{
	cursor: pointer;
	background-color: #000a;
}

.toggled + #menu a
{
	transform: translateY( 0px );
	animation: displayfadein 0.4s forwards;
}


.title
{
	width: 100%;
	height: calc( 100vh - 0px);
	position: relative;
	z-index: 0;
}

.title .img
{
	width: 100vw;
	height: calc( 100vh - 120px);
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	display: inline-block;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 0;
	filter: brightness(40%);
	animation: rotating 30s infinite forwards;
}
.title #img1
{
	animation-delay: -15s;
	
}
.title #img2
{
	transform: translateX( 100vw );
	animation-delay: -9s;
	
}
.title #img3
{
	animation-delay: -3s;
	transform: translateX( 200vw );
	
}
.title #img4
{
	
	transform: translateX( -100vw );
	animation-delay: 3s;
	
}
.title #img5
{
	transform: translateX( 100vw );
	animation-delay: 9s;
	
}
.title .container
{
	position: absolute;
	bottom: 120px;
	left: 0px;
	padding: 5vw;
	color: var(--main);
/*
	background-color: #0008;
	margin: 30px;
*/
	
}
.title h1
{
	margin: 0px;
	font-size: 100px;
	font-weight: 600;
	color: var(--accent);
}
.title h2
{
	margin: 0px;
	font-size: 50px;
	font-weight: 100;
	color: var(--main);
}

.title .infocontainer
{
	width: 100%;
	height: 120px;
	-webkit-overflow-scrolling: touch;
	display: flex;
	position: absolute;
	bottom:0;
	left: 0;
	z-index: 0;
}
.infocontainer .info
{
	width: 100%;
	min-width: 270px;
	background-color: var(--bg);
	border: none;
	border-right: 3px solid var(--bglight);
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;
	padding: 0px 20px;
	margin: 0;
	transition: 0.05s;
	text-align: left;
	transition: 0.2s;
}

.info *
{
	transition: opacity 0.15s;

}
.info div
{
	width: 100%;
	color: var(--main);
}
.info h1
{
	font-size: 60px;
	margin: 0px;
	display: inline-block;
}
.info h1 i
{
	font-size: 52px;
}
.info h3
{
	font-size: 18px;
	margin: 0px;
	
}
.info h2
{
	margin: 0px;
	font-weight: 300;
	font-size: 15px;
	transform: translateY(-2em);
	padding-left: 10px;
	display: inline-block;
}
.info p
{
	display: none;
}

.infocontainer .info:hover, .infocontainer .info:focus
{
	background-color: var(--accent);
	cursor: pointer;
}
.info:hover h1, .info:hover h2, .info:hover h3, .info:focus h1, .info:focus h2, .info:focus h3
{
	display: none;
}
.info:hover p, .info:focus p
{
	display: block;
	font-size: 13px;
	color: var(--bg);
}

#swipe
{
	display: none;
	position: absolute;
	color: white;
	right: 10px;
	font-weight: 200;
	bottom: 55px;
	transition: 0.3s;
	animation: bobside 1s infinite;
}

hr
{
}

#quote1
{
	box-shadow: inset 0px 10px 10px -10px #000;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.section
{
	padding: 80px 5vw;
	background-color: var(--bg);
	z-index: 0;
}
.section.light
{
	background-color: var(--bglight);
}

.section h1, .section p
{
	color: var(--main);
}
.section h1
{
	font-size: 40px;
	letter-spacing: 0.1em;
	font-weight: 500;
}
.section p, .section li 
{
	font-size: 20px;
	font-weight: 100;
}

.section li 
{
	color: var(--mainlight);
	position: relative;
	list-style-type: none;
	padding-left: 25px;
	margin-left: 20px;
	font-size: 18px;
	padding-bottom: 1em;
}
.section li:before
{
	position: absolute;
 	left: 0px;
	top: 9px;
	width: 5px;
	height: 5px;
	border-radius: 50%;
	background-color: var(--mainlight);
	content: '';
}
.section .quote
{
	text-align: center;
	font-size: 30px;

	padding: 2em 120px;
	font-weight: 100;
	border-top: 2px solid var(--main);
	border-bottom: 2px solid var(--main);
	position: relative;
}
.quote:after
{
	font-family: "Barlow";
	color: var(--accent);
	font-style: italic;
	content: '';
	
	background-image: url("quote.svg");
	background-size: contain;
	background-position: center;
	background-repeat: no-repeat;
	background-color: var(--bglight);
	width: 80px;
	height: 40px;
	position: absolute;
	bottom: -20px;
	left: calc( 50% - 40px );
}
.section .author
{
	text-align: center;
	font-size: 20px;
	padding: 1.5em 0px;
	padding-bottom: 0;
	font-weight: 100;
}

.section .container
{
	margin: auto;
	width: 100%;
	max-width: 1200px;
}

.halfsplit
{
	display: flex;
	justify-content: center;
	align-items: center;
	
	
}
.halfsplit .text
{
	width: 50%;
	padding: 0px 25px;
	padding-bottom: 30px;
}
.halfsplit + p
{
	margin-top: 40px;
	padding: 0px 25px;
}

.halfsplit .image
{
	width: 50%; 
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	margin: 0px 25px;
	border: 5px solid var(--accent);
	box-shadow: inset 0px 0px 100px 35px var(--bglight);
	
}
#image1
{
	height: 450px;
	background-size: 150%;
}

#image2
{
	height: 450px;
	background-position: 30% 50%;
	background-size: 160%;
}
#image3
{
	height: 700px;
	background-size: 200%;
}



.image
{
	transition: 0.2s;
}
.image:hover, #image1:hover,  #image2:hover
{
	background-size: 180%;
}
 #image3:hover
{
	background-size: 230%;
}

.button
{
	text-decoration: none;
	padding: 12px 40px;
	text-transform: uppercase;
	font-weight: 400;
	background-color: transparent;
	border: 2px solid var(--main);
	font-family: 'Barlow';
	font-size: 12.5px;
	letter-spacing: 0.3em;
	color: var(--main);
	transition: 0.2s;
}
.button:hover
{
	background-color: var(--main);
	color: var(--bg);
	cursor: pointer;
	font-weight: 500;
}
.factsec
{
	padding: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	background-size: cover;
	background-position:top;
	background-repeat: no-repeat;
	background-attachment: fixed;
}


.hover
{
	transition: 0.15s;
	display: inline-block;
}
.hover:hover
{
	font-weight: 100;
	transform: scale(1.04);
	color: var(--accent);
}

.factsec div
{
	padding: 30px 5vw;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	background-color: var(--accentalpha);
	z-index: 10;
}


#whatispoverty
{
	padding: 100px 5vw;
}


.section .fact
{
	font-weight: 800;
	padding: 0px 30px; 
}
.fact + .author
{
	padding: 0;
	color: var(--bg);
	font-weight: 300;
}

.sixtyfourtysplit
{
	display: flex;
	justify-content: center;
	align-items: center;
}
.sixtyfourtysplit .text
{
	width: 60%;
	padding: 0px 25px;
	padding-bottom: 30px;
	
}

.sixtyfourtysplit .image
{
	width: 40%; 
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	margin: 0px 25px;
	border: 5px solid var(--accent);
	box-shadow: inset 0px 0px 100px 25px var(--bglight);
}


#causes
{
	display: flex;
	
	justify-content: center;
	align-items: center;
	flex-direction: column;
	
}
#causes h1
{
	text-align: center;
}

.tileview
{
	width: 100%;
	display: flex;
	justify-content:center;
	align-items: center;
	flex-wrap: wrap;
}

.tile
{
	text-align: center;
	width: 20%;
	min-width: 210px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-direction: column;
	height: 240px;
	padding: 0px 1%;
	padding-bottom: 80px;
}
.tile i
{
	font-size: 100px;
	color: var(--accent);
	transition: 0.2s;
}
.tile i:hover
{
	transform: scale(1.1);
}
.tile h1
{
	margin: 0;
	font-size: 22px;
	font-weight: 500;
	letter-spacing: 0px;
	padding: 15px 0px;
}

.tile p
{
	font-size: 12px;
	color: var(--main);
	margin: 0;
	
}


#testimonials, .card, .cards
{
	display: flex;
	justify-content: center;
	align-items: center;	
}

.cards
{
	justify-content: space-between;
}



.card
{
	flex-direction: column;
	background-color: var(--bg);
	box-shadow: 10px 10px 50px 20px black;
	width: 100%;
	height: 250px;
	margin: 30px;
	position: relative;
	padding: 70px 35px;
	transition: 0.2s;
	padding-top: 170px;
}
.card:hover
{
	box-shadow: 10px 10px 30px 10px black;
}
.card *
{
	text-align: center;
}
.card div
{
	position: absolute;
	top: 50px;
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	width: 150px;
	height: 150px;
	border-radius: 1000px;
	margin-bottom: 15px
}
.card p
{
	font-size: 20px;
	padding-bottom: 15px;
}
.card h1
{
	position: absolute;
	bottom: 75px;
	font-size: 30px;
	letter-spacing: 1px;
	margin: 0;
	opacity: 0.4;
	left: 0;
	width: 100%;
}
.card h2
{
	left: 0;
	width: 100%;
	position: absolute;
	bottom: 50px;
	margin: 0;
	opacity: 0.4;
	font-size: 15px;
	letter-spacing: 1px;
	font-weight: 200;
	margin: 0;
}
.card:after
{
	background-color: var(--accent);
	content: '';
	position: absolute;
	width: 30px;
	height: 40px;
	border: 6px solid var(--accent);
	top: -20px;
	left: 30px;
	background-image: url("quoteblack.svg");
	background-size: contain;
	background-position: center;
	background-repeat: no-repeat;
	box-shadow: 8px 8px 15px black;
}

@media( max-width: 1200px )
{
	.cards
	{
		flex-wrap: wrap;		
	}
	.card
	{
		width: 35%;
		margin: 30px 15px;
	}
}
@media( max-width: 750px )
{
		
	.card
	{
		width: 100%;
	}
	
}


#sources
{
	display: flex;
	justify-content: center;
	align-items: center;
}

footer
{
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	color: white;
}
footer.section h1
{
	font-weight: 300;
	font-size: 20px;
	margin: 0;
	margin-bottom: 10px;
}
footer h2
{
	font-weight: 100;
	font-size: 10px;
	margin: 0;
}



#video
{
	position: relative;
}

video{
	position: absolute;
	top: 10px; 
	width: 100%
}
